/*!
* Start Bootstrap - Full Width Pics (https://startbootstrap.com/template-overviews/full-width-pics)
* Copyright 2013-2017 Start Bootstrap
* Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-full-width-pics/blob/master/LICENSE)
*/

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.button-group button {
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

.dropdown-menu {
  background: rgb(54, 25, 25); 
  background: rgba(54, 25, 25, .5); 
  color: white;
  width: 90%; 
  margin-left: 1%;
  margin-right: 2%;
  border: 1px solid #ddd;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

/*.dropdown-menu:hover {background-color: #0c0;}*/

/*@media screen and (min-width:1200px){

}
@media screen and (min-width: 960px) and (max-width: 1199px) {

}

@media screen and (min-width: 768px) and (max-width: 959px) {

}


@media only screen and (min-width: 480px) and (max-width: 767px){

}

@media only screen and (max-width: 479px) {
html{
background-color: yellow;
}
}
@media screen and (orientation: portrait) and (max-width: 720px) {  }

/* æ¨ªå± */
@media screen and (orientation: landscape) {  }


@media only screen and (min-width: 480px) and (max-width: 767px){
  header {
    display: none;
  }
}

@media only screen and (max-width: 479px) {
  header {
    display: none;
  }
}
