html {
  background: linear-gradient(90deg, #FF4E50 10%, #F9D423 90%);
  overflow: hidden;
  height: 100%;
}

.loader {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
}
.loader:before, .loader:after {
  content: "";
  height: 40px;
  width: 40px;
  border: 8px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  position: absolute;
  top: 0;
}
.loader:before {
  -webkit-animation: animate 2s infinite linear;
          animation: animate 2s infinite linear;
}
.loader:after {
  -webkit-animation: animate2 2s infinite linear;
          animation: animate2 2s infinite linear;
}

@-webkit-keyframes animate {
  100% {
    -webkit-transform: rotate(180deg) skew(360deg);
            transform: rotate(180deg) skew(360deg);
  }
}

@keyframes animate {
  100% {
    -webkit-transform: rotate(180deg) skew(360deg);
            transform: rotate(180deg) skew(360deg);
  }
}
@-webkit-keyframes animate2 {
  100% {
    -webkit-transform: rotate(-180deg) skew(-360deg);
            transform: rotate(-180deg) skew(-360deg);
  }
}
@keyframes animate2 {
  100% {
    -webkit-transform: rotate(-180deg) skew(-360deg);
            transform: rotate(-180deg) skew(-360deg);
  }
}
