/*  
    Recommeded CSS
    ==============
*/

.panel {
    position: fixed;
    left: -15.625em; /*or width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

/*  
    Demo Specific Styles
    ====================
*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #101820;
    line-height: 1.5;
}

.wrap {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.panel {
    background: #101820;
}

.panel a {
    color: #fff;
}
.menu-link{
    position: relative;
    left:-5%;
}


.dropbtn {
  background-color: #101820;
  color: gray;
  padding: 16px 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom:0px;

  
  margin-right: auto

}

.dropbtn:hover, .dropbtn:focus {
  color: red;
}

#myInput {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 300px;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left: 10%;/*shifts drop down to right*/
  background-color: #f6f6f6;
  min-width: 150px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1001;
  max-height: 550px;
}

.dropdown-content a {
  color: #101820;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*.dropdown a:hover {background-color: #101820;}*/

.show {display: block;}

.subtext {
  font-size:0.8rem;
  color: #a9a9a9; /*darkgray*/
}

section.py-5 {
  padding-bottom: 0rem!important;
}
.dropdown {
  padding-bottom: 3rem;
}


#map {
  height : 600px;
  width : 90%;
  margin-left: auto;
  margin-right: auto;
}

.legend {
  background: white;
  line-height: 2em;
}

.legend i {
  width: 5em;
  float : left;
}

.sidenav-list > li {
  line-height: 2rem;
}

#right-panel {
  padding-top: 110px;
}

.button {
    background-color: #101820; /* black */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #ffa500;} /* Orange */

button.selected {
  color: red;
}


