<!DOCTYPE html>
<html lang="en">
  {%load static%}


  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About - Cumberland Campus</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/bootstrap/css/changes.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/full-width-pics.css" %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Cumberland Campus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home
                <!--                <span class="sr-only">(current)</span>-->
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'services' %}">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'transport' %}">Transport</a>
            </li>
            <li class="nav-item">
              {% if request.session.is_login %}
              <a class="nav-link" class="fa fa-key">{{ request.session.attributes.displayname }}</a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if not request.session.is_login %}
              <a class="nav-link" href="https://rapid.test.aaf.edu.au/jwt/authnrequest/research/KgtYYMNZ93wFXqCSyROb8A"><i class="fa fa-user-circle-o"></i> Login</a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if request.session.is_login %}
              <a class="nav-link" class="fa-lock" href="{% url 'logout' %}">Logout</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full" style="background-image: url('../static/images/building.jpg');">
      <img class="img-fluid d-block mx-auto" src="{% static 'images/USydLogo.svg' %}" alt="">
    </header>

    <!-- Content section -->
    <section class="py-5">
      <div class="container">
        <h1>About Us</h1>
        <p class="lead">Cumberland Interactive Maps Developers</p>
        <p>Hello, we are the creator and developers of the Cumberland Campus interactive map. We are an independent group that took on this project presented to us by the University of
          Sydney to creative an important tool that would help students navigate the Cumberland campus easily.</p>
        <p class="lead">Our Team</p>
        <p>Justin - Django Back-end Developer <br><br>
          Augustin - GIS Developer<br><br>
          Beatrice - Bootstrap Front-end developer<br><br>
          Shen - Database Developer<br><br>
          Will - Database Developer<br><br>
          William - Login Developer<br><br>
        </p>
      </div>
    </section>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Cumberland 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script><script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  </body>

</html>
