<!DOCTYPE html>

<html>
    {% load static %}
    {% load leaflet_tags %}
    {% load geojson_tags %}

    <head>
        {% leaflet_js %}
        {% leaflet_css %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Cumberland Campus Maps">
        <meta name="author" content="P10A Group">

        <!-- Bootstrap core CSS -->
        <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "vendor/bootstrap/css/changes.css" %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static "css/full-width-pics.css" %}" rel="stylesheet">

        <!-- Leaflet GPS -->
        <link rel="stylesheet" href="{% static "lib/leafletGPS/gps-control.css" %}" />
        <script rel="text/javascript" src="{% static "lib/leafletGPS/GPSControl.js" %}"></script>

        <!-- Leaflet Markers -->
        <link rel="stylesheet" href="{% static "lib/markers/dist/leaflet.awesome-markers.css" %}" />
        <script rel="text/javascript" src="{% static "lib/markers/dist/leaflet.awesome-markers.js" %}"></script>


        <!--Leaflet groundLayerControl-->
        <link rel="stylesheet"type="text/css" href="{% static "lib/groundLayerControl/leaflet.groupedlayercontrol.min.css" %}" />
        <script type="text/javascript" src="{% static "lib/groundLayerControl/leaflet.groupedlayercontrol.min.js" %}"></script>

        <!---Leaflet AJAX -->
        <script type="text/javascript" src="{% static "lib/ajax/leaflet.ajax.js" %}" ></script>

        <!--Icon Library-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <title>Cumberland Campus Map</title>

        <style type="text/css">
            #gis {  height : 86%;
                width : 100%;
                margin-left: auto;
                margin-right: auto;
            }

            .legend { background: white;
                line-height: 2em}

            .legend i {width: 5em;
                float : left}

        </style>

        <style type="text/css">
            .gps-control a i {
                padding-top: 3px;
                cursor: pointer;
            }

        </style>

        <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js'%}">
        </script>

    </head>

    <body>
        <div id="msg"></div>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Cumberland Campus</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'services' %}">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'transport' %}">Transport</a>
                        </li>
                        <li class="nav-item">
                            {% if request.session.is_login %}
                            <a class="nav-link" class="fa fa-key">{{ request.session.attributes.displayname }}</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if not request.session.is_login %}
                            <a class="nav-link" href="https://rapid.test.aaf.edu.au/jwt/authnrequest/research/KgtYYMNZ93wFXqCSyROb8A"><i class="fa fa-user-circle-o"></i> Login</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if request.session.is_login %}
                            <a class="nav-link" class="fa-lock" href="{% url 'logout' %}">Logout</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Header - set the background image for the header in the line below -->
        <header class="py-5 bg-image-full" style="background-image: url('../static/images/background2.jpg');">
            <img class="img-fluid d-block mx-auto" src="{% static 'images/USydLogo.svg' %}" alt="">
        </header>

        <!-- Content section -->
        <section class="py-5">
            <div class="container">
                <h1>Getting started!</h1>
                <p class="lead">Be prepared to find your pathway to success</p>
                <p>Welcome to the Cumberland campus. The interactive map is created for students like you, to help you navigate your way through the campus so you can worry less about getting around and more on your learning.</p>
            </div>
        </section>

        <section>
            <div class="row button-group" style="margin-left: 10%; margin-right: 10%">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">

                    <button class="button btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"></i> List of Buildings</button>

                    <div id="myDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton"></div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
                    <button class="button btn" id="food"><i class="fa fa-coffee"></i> Food</button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
                    <button class="button btn" id="Restrooms"><i class="fa fa-bath"></i> Restrooms</button>
                </div>
            </div>
        </section>

        <div id="blockadmin" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav('blockadmin')">&times;</a>
            <!-- Image Section - set the background image for the header in the line below -->
            <section class="py-5 bg-image-full" style="background-image: url('../static/images/crest3.png');">
                <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
                <div style="height: 300px;"></div>
            </section>

            <section class="py-5">
                <div class="container">
                    <h1></h1>
                    <p class="lead" id="building_name"></p>
                    <p id="Building_Desciption"></p>
                    <p><i>Please visit the site below to access the offical webpage for this building</i></p>
                    <p id="Building_URL"></p>

                    <!--                    <p id="demo"></p>-->
                </div>
            </section>
        </div>

        <section class="py-5 bg-image-full">
            <div id="map">
                <script type="text/javascript">


                    /* Open the sidenav */
                    function openNav(name) {
                        if(name == 'right-panel'){
                            document.getElementById(name).style.width = "100%";
                        } else {
                            document.getElementById(name).style.width = "100%";
                        }

                    }

                    /* Close/hide the sidenav */
                    function closeNav(name) {
                        document.getElementById(name).style.width = "0";
                    }



                    function ourfunction(map, options) {

                        var buildingIcon = L.AwesomeMarkers.icon({
                            icon : 'home',
                            prefix: 'fa',
                            markerColor: 'blue',
                            // iconColor: '#f28f82'
                        });

                        var foodIcon = L.AwesomeMarkers.icon({
                            icon : 'coffee',
                            prefix: 'fa',
                            markerColor: 'red',
                            iconColor: '#f28f82'
                        });

                        var bathIcon = L.AwesomeMarkers.icon({
                            icon : 'bath',
                            prefix: 'fa',
                            markerColor: 'green',
                            // iconColor: '#f28f82'
                        });

                        var streetMap = L.tileLayer('http://mt1.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
                        });

                        var satellite = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                        });

                        var points = new L.GeoJSON.AJAX("{% url 'data' %}", {
                        });

                        var buildingMarker = {};

                        function createMenuOption(buildingName) {
                            var link = "<a onclick='buildingOnClick(this)' id='"+ buildingName + "' class='dropdown-item'>" + buildingName + "</a>";
                            $("#myDropdown").prepend(link);
                        }


                        var Building_Desciption, building_name;

                        var houseName = new L.GeoJSON.AJAX("{% url 'houseName' %}", {
                            onEachFeature: function(feature, layer){
                                layer.setIcon(buildingIcon);
                                createMenuOption(feature.properties.building_name);
                                layer.bindPopup(feature.properties.building_name).openPopup();


                            }
                        });



                        var foodCourts = new L.GeoJSON.AJAX("{% url 'foodCourts' %}", {
                            onEachFeature: function(feature, layer){
                                layer.setIcon(foodIcon);
                                layer.bindPopup(feature.properties.restaurant_Name);
                            }
                        });

                        var Bathrooms = new L.GeoJSON.AJAX("{% url 'bathrooms' %}", {
                            onEachFeature: function(feature, layer){
                                layer.setIcon(bathIcon);
                                layer.bindPopup(feature.properties.restaurant_Name);

                            }
                        });

                        //                        console.log('{{Building}}');

                        

                        buildingOnClick = function(btn) {
                            var houseName = new L.GeoJSON.AJAX("{% url 'houseName' %}", {
                                onEachFeature: function(feature, layer) {
                                    if (feature.properties.building_name == btn.id) {
                                        var lat = feature.geometry.coordinates[0];
                                        var lng = feature.geometry.coordinates[1];

                                        var uri = feature.properties.building_URL;

                                        document.getElementById("building_name").innerHTML = feature.properties.building_name;
                                        document.getElementById("Building_Desciption").innerHTML = feature.properties.building_Description;
                                        document.getElementById("Building_URL").innerHTML = uri.link();
                                        //                                        document.getElementById("Building_picture").src =


                                        if(buildingMarker != undefined)
                                        {
                                            map.removeLayer(buildingMarker);
                                        }
                                        buildingMarker = L.marker([lng, lat], {icon: buildingIcon});
                                        buildingMarker.bindPopup(

                                            //                                            btn.id + '<div><a onclick="openNav(\'blockadmin\')"><img ctyle="width : 100%" src="../static/images/Uni4.png" alt="image" /><a/></div>',
                                            //                                            {minWidth : 200}

                                            btn.id + '<a onclick="openNav(\'blockadmin\')"><div><img style="width : 100%" src="static/images/Uni4.png" alt="image" /></a></div>',

                                            {minWidth : 120}

                                        ).addTo(map);

                                    };
                                }

                            });

                        };

                        $("#food").click(function(event) {
                            console.log($(this));
                            event.preventDefault();
                            if(map.hasLayer(foodCourts)) {
                                $(this).removeClass('selected');
                                map.removeLayer(foodCourts);
                            } else {
                                map.addLayer(foodCourts);
                                $(this).addClass('selected');
                            }
                        });

                        $("#Restrooms").click(function(event) {
                            event.preventDefault();
                            if(map.hasLayer(Bathrooms)) {
                                $(this).removeClass('selected');
                                map.removeLayer(Bathrooms);
                            } else {
                                map.addLayer(Bathrooms);
                                $(this).addClass('selected');
                            }
                        });

                        var baseLayers = {
                            "Street Map " : streetMap,
                            "Satellite Map " : satellite
                        }

                        var groupedOverlays = {
                            "Campus Buildings": {
                                "Buildings": houseName,
                            },

                        };
                        L.control.groupedLayers(baseLayers, groupedOverlays).addTo(map);

                        var msg = document.getElementById('msg');

                        var redMarker = L.AwesomeMarkers.icon({
                            icon : 'group',
                            prefix: 'fa',
                            markerColor: 'darkred',
                        });

                        var GPS;
                        var gpsControl = new GPSControl({
                            track: false,
                            active: false,
                            successCallback: latlng => {
//                                msg.innerHTML += 'GPS locating : ' + latlng + '<br/>';
                                //                                map.setView(latlng);
                                GPS = L.marker(latlng,{icon:redMarker}).addTo(map);

                            },
                            errorCallback: error => {
                                //                                msg.innerHTML += 'GPS locating failed : ' + error.message + '<br/>';
                            }
                        }).addTo(map);

                        gpsControl.updateActive(true);
                        
                    }

                </script>
                {% leaflet_map "gis" callback="ourfunction" %}
            </div> <!-- ALter #map in <head> for changes to dimensions of map on webpage -->
        </section>

        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Cumberland 2018</p>
            </div>
            <!-- /.container -->
        </footer>


        <!-- Bootstrap core JavaScript -->
        <script src="{% static "vendor/jquery/jquery.min.js" %}"></script><script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>


        <script>
            if (screen.width <= 400) {
                document.location = "{% static 'vendor/html/simple.html' %}";
            }
        </script>

    </body>
</html>
