<!DOCTYPE html>
<html lang="en">
  {%load static%}

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Services - Cumberland Campus</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/bootstrap/css/changes.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/full-width-pics.css" %}" rel="stylesheet">


  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Cumberland Campus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home
                <!--                <span class="sr-only">(current)</span>-->
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'services' %}">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'transport' %}">Transport</a>
            </li>
            <li class="nav-item">
              {% if request.session.is_login %}
              <a class="nav-link" class="fa fa-key">{{ request.session.attributes.displayname }}</a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if not request.session.is_login %}
              <a class="nav-link" href="https://rapid.test.aaf.edu.au/jwt/authnrequest/research/KgtYYMNZ93wFXqCSyROb8A"><i class="fa fa-user-circle-o"></i> Login</a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if request.session.is_login %}
              <a class="nav-link" class="fa-lock" href="{% url 'logout' %}">Logout</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full" style="background-image: url('../static/images/map.png');">
      <img class="img-fluid d-block mx-auto" src="{% static 'images/USydLogo.svg' %}" alt="">
    </header>
    <section class="py-5">
      <div class="container">
        <h1>Services</h1>
        <p class="lead">Interactive Map</p>
        <p>We provide intercative maps that are customised to the location to help user's experience with maps an interactive and informative one.</p>
        <p class="lead">Creative Way to view location</p>
        <p>The intercative map makes use of multimedia to improve navigating and way-finding.</p>
        <p class="lead">Easy Navigation</p>
        <p>The aim of our applications are to give our users the ability to navigate and get around easily wherever they are. </p>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Cumberland 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
