<!DOCTYPE html>
<html lang="en">
  {%load static%}

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Transport - Cumberland Campus</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/bootstrap/css/changes.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/full-width-pics.css" %}" rel="stylesheet">

    <!--Icon Library-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  </head>

  <body>

    <!--Toggle sidebar*/-->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <!-- Image Section - set the background image for the header in the line below -->
      <section class="py-5 bg-image-full" style="background-image: url('../static/images/background2.jpg');">
        <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
        <div style="height: 300px;"></div>
      </section>

      <section class="py-5">
        <div class="container">
          <h1>Building V</h1>
          <p class="lead">Sport Centre and Gym</p>
          <p>CPR courses are booked and held here. Remember, this course will need to be retaken yearly to make sure you’re verified to go on placement.</p>
        </div>
      </section>
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Cumberland Campus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'services' %}">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'transport' %}"><h5>Transport</h5></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full" style="background-image: url('../static/images/transport.jpg');">


      <img class="img-fluid d-block mx-auto" src="{% static 'images/USydLogo.svg' %}" alt="">

    </header>

    <!-- Content section -->
    <section class="py-5">
      <div class="container">
        <h1>Transport</h1>
        <p class="lead">Get up-to-date travel information</p>
        <p>The map shows information with timetables on how to travel to Cumberland campus from Lidcombe station.</p>
      </div>
    </section>

    <section class="py-5">
      <div class="dropdown container" style="float:left;" >
        <button onclick="openNav('right-panel')" class="dropbtn btn"><i class="fa fa-subway"></i>   Show Times</button>

        <div id="right-panel" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav('right-panel')">&times;</a>
        </div>
      </div>
    </section>

    <!-- Image Section - set the background image for the header in the line below -->
    <section class="py-5 bg-image-full" >

      <div id="map"></div> <!-- ALter #map in <head> for changes to dimensions of map on webpage -->

      <!-- INSERT MAP SCRIPTS HERE BELOW -->
      <!--      <script src="js/markers.js"></script>-->

      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-UkHliC9w77Hq566rxdIggJCwH-kLr0I&callback=initMapTransport">
      google.maps.event.addDomListener(window, 'load', initialize);
        
      </script>
      
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4RQuJLVL5VzBjSOvaK2BOrc799dHSivY&callback=initMap"
    async defer></script>

    </section>


    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Cumberland 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script><script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  </body>

</html>
